* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url('./clock.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#clock {
  width: 400px;
  height: 400px;
  border: 15px solid rgba(16, 15, 15, 0.557);
  border-radius: 50%;
  box-shadow: 0 0 20px 0 rgba(113, 106, 106, 0.1);
  position: relative;
  margin: 40px 60px;
}

#secondHand {
  width: 2px;
  height: 50%;
  background-color: black;
  transform-origin: 50% 80%;
  position: absolute;
  top: 10%;
  left: 50%;
}

#minuteHand {
  width: 4px;
  height: 40%;
  background-color: blue;
  transform-origin: 50% 80%;
  position: absolute;
  top: 18%;
  left: calc(50% - 1px);
}

#hourHand {
  width: 6px;
  height: 25%;
  background-color: red;
  transform-origin: 50% 80%;
  position: absolute;
  top: 30%;
  left: calc(50% + -2px);
}

.num {
  height: 100%;
  position: absolute;
  left: calc(50% - 0.5em);
}

.num span {
  width: 1em;
  line-height: 2em;
  color: black;
  text-align: center;
  vertical-align: middle;
}

.num1 {
  transform : rotate(30deg);
}
.num1 span {
  transform : rotate(-30deg);
}

.num2 {
  transform : rotate(60deg);
}
.num2 span {
  transform : rotate(-60deg);
}

.num3 {
  transform : rotate(90deg);
}
.num3 span {
  transform : rotate(-90deg);
}

.num4 {
  transform : rotate(120deg);
}
.num4 span {
  transform : rotate(-120deg);
}

.num5 {
  transform : rotate(150deg);
}
.num5 span {
  transform : rotate(-150deg);
}

.num6 {
  transform : rotate(180deg);
}
.num6 div {
  transform : rotate(-180deg);
}

.num7 {
  transform : rotate(210deg);
}
.num7 div {
  transform : rotate(-210deg);
}

.num8 {
  transform : rotate(240deg);
}
.num8 div {
  transform : rotate(-2400deg);
}

.num9 {
  transform : rotate(270deg);
}
.num9 div {
  transform : rotate(-270deg);
}

.num10 {
  transform : rotate(300deg);
}
.num10 div {
  transform : rotate(-300deg);
}

.num11 {
  transform : rotate(330deg);
}
.num11 div {
  transform : rotate(-330deg);
}